*-debug.log
*-error.log
**/.DS_Store
/.idea
**/dist
/tmp
**/node_modules
oclif.manifest.json

/examples/**/test-reports/**/*
/examples/**/output/**/*

yarn.lock

/.a11y-page-checker
/packages/ui/*.sqlite*
/packages/ui/test-results
/packages/ui/playwright-report
